.poll-form {
  @include feed-item;
  margin-top: 10px;
  width: 45vw;
  position: relative; // Ensure the close button is positioned relative to the poll form
  font-family: $mainFont;

  &__body {
    @include flex-column;
    background-color: $secondaryBgColor0;
    border-radius: 100px;
    gap: 10px;
    width: 100%;

    &__title {
      margin: 10px;
      width: fit-content;
      align-self: center;
      font-size: 24px;
      font-weight: 500;
      text-align: center;
    }

    &__settings {
      display: flex;
      align-items: center;
      gap: 10px;
      width: 100%;
      box-sizing: border-box;

      input[name="nofAnswersAllowed"] {
        width: 40%;
      }

      input[name="deadline"] {
        width: 100%;
        user-select: none;
        cursor: pointer;

        &.deadline-empty {
          color: rgba(0, 0, 0, 0.5); // 50% opacity for the text color
        }

        &.deadline-filled {
          color: rgba(0, 0, 0, 1); // 100% opacity for the text color
        }
      }
    }

    input,
    textarea {
      background-color: $inactive-vote-color;
      padding: 6px;
      padding-inline: 10px;
      border-radius: 8px;
      border: none;
      font-family: $mainFont;
      font-size: $mainFontSize - 2px;
      resize: none;

      &:focus {
        outline-color: $active-vote-color;
      }

      &::placeholder {
        color: $mainFontColor;
        opacity: 0.5;
      }
    }

    &__voting-item {
      display: flex;
      align-items: center;
      gap: 10px;

      input {
        flex-grow: 1;
        font-family: $mainFont;
      }

      .poll-form__remove-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: none;
        color: $mainFontColor;
        cursor: pointer;
        height: fit-content;
        width: fit-content;
        font-size: 34px;
        font-weight: 500;
        height: 30px;
      }
    }

    &__add-option-container {
      display: flex;
      align-self: center;
      gap: 10px;
      align-items: center;
      font-size: $mainFontSize;
    }

    &__add-btn {
      background-color: transparent;
      border: 2px solid $mainFontColor;
      color: $mainFontColor;
      cursor: pointer;
      padding: 9px;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      line-height: 0;
    }

    &__submit-button-container {
      display: flex;
      justify-content: center;
      margin-top: 10px !important;
    }
  }
}
