.feed-bar-container {
  @include mid-page-content-container;
  @include fadeIn;
}

.feed-bar {
  @include feed-item;
  text-align: center;
  justify-content: center;
  flex-direction: row;
  margin: 0 auto; // Center the form horizontally
  gap: 14px;
  margin-top: 10px;
}

create-btn {
  border: none;
  padding: 10px 20px;
  margin: 0 auto; // Center the button horizontally
  display: inline-flex;
}

