.feed-container {
  max-height: 100vh;
  overflow-y: auto;

  /* Custom scrollbar styles */
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); /* Light background */
    border-radius: 10px; /* Rounded corners */
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4); /* Darker thumb color */
    border-radius: 10px; /* Rounded corners */
    border: 2px solid rgba(0, 0, 0, 0.1); /* Adds space around thumb */
  }
}

.feed-content-container {
  @include mid-page-content-container;
  animation: slideUp 1.2s ease-in-out forwards;

  @keyframes slideUp {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0%);
    }
  }
}

@mixin feed-item {
  @include flex-column;
  width: 45vw;
  height: fit-content;
  border-radius: 10px;
  padding: 10px;
  background-color: $secondaryBgColor0;
}

.feed-content-error-fetching-polls-container {
  text-align: center;
  @include flex-column;
  height: fit-content;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 8%;
}

.feed-content-error-fetching-polls-message {
  font-size: 20px;
  font-family: $secondaryFont;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
