.feed-container {
    @include set-grid-location(2, 2);
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: min-content;
    justify-content: center;
    align-content: flex-start;
    margin-top: 40px;
    grid-gap: 20px;
}

@mixin feed-item {
    display: grid;
    background-color: $secondaryBgColor0;
    border-radius: 10px;
    justify-content: start;
    grid-template-rows: 20px auto;
    grid-template-columns: 100%;
    row-gap: 6px;
    padding: 10px;
    width: 400px;
    min-height: 100px;
    height: fit-content;
    word-wrap: break-word;
}