.voting-bar-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background-color: $inactive-vote-color;
}

.voting-bar-fill {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 6px;
  background-color: $active-vote-color;
  transition: width 0.3s ease-out;
}

.voting-bar-info-container {
  position: relative;
  z-index: 2;
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0 10px;
  justify-content: space-between;
  align-items: center;
}

.voting-bar-desc,
.voting-bar-vote-count {
  font-size: 80%;
  white-space: nowrap;
}
