.poll-container {
  @include feed-item;
  row-gap: 6px;
  word-wrap: break-word;
}

.poll-title {
  display: block;
  font-weight: bold;
}

.poll-details-container {
  @include flex-column;
  gap: 6px;
  $inputPadding: 2px;

  .poll-title-input {
    font-weight: bold;
    background: none;
    border: 1px solid $mainFontColor;
    background-color: $mainBgColor0;
    font-size: $mainFontSize;
    font-family: $mainFont;
    padding: $inputPadding;
  }

  .poll-description-input {
    resize: vertical;
    max-height: 200px;
    min-height: 40px;
    border: 1px solid $mainFontColor;
    background-color: $mainBgColor0;
    font-size: $mainFontSize;
    font-family: $mainFont;
    padding: $inputPadding;
  }
}

.poll-description {
  display: block;
}

.poll-voting-container {
  display: grid;
  margin-top: 10px;
  margin-bottom: 8px;
  grid-gap: 10px;
}

.poll-voting-choice-messege {
  color: $grayedOutFontColor;
  font-size: 90%;
  font-weight: 600;
}

.poll-error-messege {
  color: $grayedOutFontColor;
  font-size: 90%;
  font-weight: 600;
}

.poll-info-title {
  @include flex-column;
  height: fit-content;
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
  gap: 4px;

  &__row1 {
    display: flex;
    gap: 12px;
    margin-bottom: 4px;
    align-items: center;
  }

  &__row2 {
    display: flex;
    color: $active-vote-color;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    font-size: small;
    font-weight: normal;
    gap: 8px;
    padding-bottom: 6px;
    border-bottom: 1px solid $grayedOutFontColor;
  }

  &__specific-group {
    &__creator-name {
      font-size: larger;
      font-weight: bolder;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    &__time-passed {
      display: flex;
      color: $mainBgColor1;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      font-size: small;
      font-weight: normal;
      gap: 8px;
    }
  }

  &__all-groups {
    &__titles-container {
      @include flex-column;
      gap: 3px;
    }
    &__creator-name-container {
      display: flex;
      gap: 8px;
      align-items: center;
    }

    &__creator-name {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }

    &__group-name {
      font-size: larger;
      font-weight: bolder;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }

    &__time-passed {
      display: flex;
      color: $mainBgColor1;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      font-size: small;
      font-weight: normal;
      gap: 8px;
    }
  }

  &__delete-button {
    margin-left: auto;
    margin-bottom: auto;
  }
}

.poll-info-title-separator {
  font-size: 70%;
}
