.custom-button {
  @include center;
  background-color: $mainColor-normal;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: flex; // Or block, depending on layout needs
  justify-content: center;
  align-items: center;
  font-family: $secondaryFont;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  align-self: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.custom-button:hover,
.custom-button:focus {
  background-color: $mainColor-dark0;
  color: rgb(255, 255, 255, 1);
}

.custom-button:active {
  background: $mainColor-dark1;
  color: rgb(255, 255, 255, 0.7);
}

.custom-button:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}
