* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: $mainFont;
  background-color: $mainBgColor0;
  font-size: $mainFontSize;
  max-height: 100vh;
}

@mixin center {
  justify-content: center;
  justify-items: center;
  align-items: center;
}

@mixin page-grid {
  display: grid;
  grid-template-columns: 18vw 1fr 18vw;
  grid-template-rows: 50px 1fr;
}

@mixin set-grid-location($row, $column) {
  grid-row: $row;
  grid-column: $column;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

/* Use for fading out components
(for example removing a poll from the feed) */
@mixin fade($type) {
  @if $type== "hide" {
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 1s;
  } @else if $type== "show" {
    visibility: visible;
    opacity: 1;
    transition: visibility 1s, opacity 1s;
  }
}

@mixin sticky-top($top) {
  position: sticky;
  top: $top;
}

/* Main Pages Settings */

@mixin main-page-container {
  @include page-grid;
  min-height: 100%;
  height: 100vh;
}

@mixin mid-page-content-container {
  @include set-grid-location(2, 2);
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: min-content;
  justify-content: center;
  align-content: flex-start;
  min-height: fit-content;
  padding-top: 30px;
  z-index: 1;
  row-gap: 24px;
}
