* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
  }
  
  body {
    font-family: $mainFont;
    background-color: $mainBgColor0;
  }

  @mixin center {
    justify-content: center;
    justify-items: center;
    align-items: center;
  }