  .groups-sidebar-container {
    @include set-grid-location(2, 1);
    background-color: $mainSidebarColor;
    color: white;
  }

  .groups-sidebar-container #groups-sidebar-item-active {
    background-color: $activeSidebarColor;
}