.groups-sidebar-item-container {
    @include center;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    width: 100%;
    height: 50px;
    column-gap: 10px;
    font-size: 16px;
}

.groups-sidebar-item-container:hover {
    cursor: pointer;
    background-color: $hoverSidebarColor;
}

#groups-sidebar-item-icon {
    flex: 30%;
    display: grid;
    place-items: center;
}

#groups-sidebar-item-title {
    flex: 70%;
}

.groups-sidebar-activated-item-highlight{
    display: none;
    background-color: $activeHighlightSidebarColor;
    width: 4px;
    height: 100%;
}

#highlight-groups-sidebar-item-active {
    display: block;
}