.members-sidebar-item-container {
  @include center;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  width: 100%;
  height: 50px;
  min-width: fit-content;
  column-gap: 10px;
  font-size: 15px;
}

.members-sidebar-item-container:hover {
  cursor: pointer;
  background-color: $hoverSidebarColor;
}

#members-sidebar-item-icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

#members-sidebar-item-name {
  flex: 70%;
}
