.members-sidebar-item-container {
  @include center;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  width: 100%;
  height: 50px;
  min-width: fit-content;
  column-gap: 10px;
  font-size: 15px;
  justify-content: space-between;
  align-items: center;
  @include fadeIn(0.2s);
}

.members-sidebar-item-container:hover {
  cursor: pointer;
  background-color: $hoverSidebarColor;
}

#members-sidebar-item-icon {
  flex: 0 0 auto; 
  display: grid;
  place-items: center;
}

#members-sidebar-item-name {
  flex: 1;
}

.members-sidebar-item-role {
  flex: 0 0 auto;
  color: $roleNameFontColor;
  margin-left: auto;
  text-overflow: ellipsis;
  overflow: hidden; 
  max-width: 120px;
}
