.sidebar-user-info-container {
  display: flex;
  gap: 14px;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid $sectionDividerColor;
}

.sidebar-user-info-data {
  @include flex-column;
  justify-content: center;
}
