  .sidebar-container {
    @include set-grid-location(2, 1);
    background-color: $mainSidebarColor;
    color: white;
  }

  .sidebar-container #sidebar-item-active {
    background-color: $activeSidebarColor;
}