/* Global Variables to use throughout the various SCSS files of the project */

// ** Fonts **
$mainFont: "Wix Madefor Display", sans-serif;
$secondaryFont: "Unica One", sans-serif;
$errorFont: "Arvo", serif;

// ** Background Colors **
$mainBgColor0: peachpuff;
$mainBgColor1: rgb(43, 43, 43);
$mainBgColor2: white;
$secondaryBgColor0: rgb(233, 164, 107);

// ** Sidebar Colors **
$mainSidebarColor: rgb(57, 58, 61);
$activeSidebarColor: rgb(31, 39, 47);
$activeHighlightSidebarColor: rgb(189, 204, 219);
$hoverSidebarColor: rgb(45, 58, 70);

// ** Components Colors **
$active-vote-color: rgb(251, 207, 168);
$inactive-vote-color: #f3c380;
$voting-checkbox-font-color: #000000;

// ** Main Colos **
$mainFontColor: black;
$mainColor-normal: #e48f17;
$mainColor-light0: #f3c380;
$mainColor-light1: peachpuff;
$mainColor-dark0: #c97f17;
$mainColor-dark1: #9e6515;
