/* Global Variables to use throughout the various SCSS files of the project */

// ** Fonts **
$mainFont: 'Jost', sans-serif;

// ** Background Colors **
$mainBgColor0: peachpuff;
$mainBgColor1: rgb(43 43 43);

// ** Main Colos **
$mainColor-normal: #e48f17;
$mainColor-dark0: #c97f17;
$mainColor-dark1: #9e6515;