.landing-page-content {
    @include center;
    display: grid;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: $secondaryFont;
    font-weight: 400;
    font-style: normal;
}

.landing-page-buttons {
    @include center;
    display: grid;
    row-gap: 10px;
}

.landing-page-container {
    display: grid;
    padding-top: 10%;
}

.landing-page-logo-img {
    display: block;
    max-width: 80%;
    height: auto;
    width: 40%;
    margin: auto;
}