.landing-page-content {
  @include fadeIn(3s);

  @include center;
  display: grid;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 20px;
  font-family: $secondaryFont;
  font-weight: 400;
  font-style: normal;
}

.landing-page-buttons {
  @include fadeInUp(1.4s, 30%, ease-in-out, 4s);
  @include center;
  display: grid;
  row-gap: 10px;
}

.landing-page-container {
  display: grid;
  padding-top: 10%;
}

.landing-page-logo-img {
  @include backInDown(1.8s, ease-in-out, 2s);
  display: block;
  max-width: 80%;
  height: auto;
  width: 40%;
  margin: auto;
}
