.form-container {
  position: relative;
  width: 200px;
  background-color: #ffda8a;
  border-radius: 15px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.closed {
  max-height: 40px;
}

.open {
  max-height: 300px; /* Adjust this based on the content height */
}

.toggle-button {
  background-color: #707070;
  color: white;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}
