.poll-form {
  //width: 400px; // Adjust width as needed
  margin: 0 auto; // Center the form horizontally
  min-width: 400px;
  row-gap: 6px;
  padding: 10px;
  width: 45vw;

  &__body {
    background-color: $secondaryBgColor0;
    border-radius: 20px; // Apply border radius
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

    &__title {
      font-size: 24px; /* Adjust font size as needed */
      font-weight: bold; /* Makes the text bold */
      color: #333; /* Set text color */
      text-align: center;
    }

    &__settings {
      display: flex;
      align-items: center;
      gap: 10px;
      width: 100%; // Make it the same width as the title and description inputs
      box-sizing: border-box; // Ensure padding and border are included in width

      input[name="nofAnswersAllowed"] {
        width: 40%;
      }

      input[name="deadline"] {
        width: 100%; // Longer width for the datetime input
        color: gray;
        user-select: none;
        cursor: pointer;
      }
    }

    input,
    textarea {
      background-color: $inactive-vote-color;
      padding: 10px;
      border-radius: 5px;
      border: 0px solid #ccc;
      font-family: $mainFont;
      resize: none;
    }

    &__voting-item {
      display: flex;
      align-items: center;
      gap: 10px;
      margin: 0 5px;

      input {
        flex-grow: 1;
        padding: 10px;
        border-radius: 5px;
        border: 0px solid #ccc;
        font-family: $mainFont;
      }

      .poll-form__remove-btn {
        background-color: $removeColor;
        border: none;
        cursor: pointer;
        width: 20px; // Smaller width
        height: 20px; // Smaller height
        padding: 0; // Remove padding
        border-radius: 50%; // Make it round
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px; // Smaller font size
        color: white;
      }
    }

    &__add-btn {
      background-color: rgba(255, 255, 255, 0);
      border: 3px solid $mainBgColor2;
      color: white;
      cursor: pointer;
      padding: 10px;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      font: bold;
      line-height: 0;
      margin: 0 auto; // Center the button
    }

    .poll-form__submit-btn {
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      margin: 0 auto; // Center the button horizontally
      display: block; // Try block display to ensure it stretches full width
      width: 100%; // Ensure it takes full width of its container
    }
  }
}
