.feed-content-container {
  @include mid-page-content-container;
  animation: slideUp 1.2s ease-in-out forwards;

  @keyframes slideUp {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0%);
    }
  }
}

@mixin feed-item {
  display: grid;
  background-color: $secondaryBgColor0;
  border-radius: 10px;
  justify-content: start;
  grid-template-rows: 20px auto;
  grid-template-columns: 100%;
  row-gap: 6px;
  padding: 10px;
  width: 400px;
  height: fit-content;
  word-wrap: break-word;
}

.feed-content-loading-container {
  @include flex-column;
  height: fit-content;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 8%;
}

.feed-content-loading-icon {
  transform: scale(0.8);
  padding: 0;
}

.feed-content-loading-message {
  font-size: 20px;
  font-family: $secondaryFont;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .dots {
    position: absolute;
    right: -1.15em;
    width: 1em;
    text-align: left;

    & > span {
      display: inline-block;
      opacity: 0;
      animation: blink 0.6s infinite;
    }

    .dot1 {
      animation-delay: 0s;
    }
    .dot2 {
      animation-delay: 0.2s;
    }
    .dot3 {
      animation-delay: 0.4s;
    }
  }
}

@keyframes blink {
  0%,
  20% {
    opacity: 1;
  }
  80%,
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0%,
  20% {
    opacity: 1;
  }
  80%,
  100% {
    opacity: 0;
  }
}

.feed-content-error-fetching-polls-container {
  text-align: center;
  @include flex-column;
  height: fit-content;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 8%;
}

.feed-content-error-fetching-polls-message {
  font-size: 20px;
  font-family: $secondaryFont;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
