.feed-content-container {
  @include mid-page-content-container;
}

@mixin feed-item {
  display: grid;
  background-color: $secondaryBgColor0;
  border-radius: 10px;
  justify-content: start;
  grid-template-rows: 20px auto;
  grid-template-columns: 100%;
  row-gap: 6px;
  padding: 10px;
  width: 400px;
  height: fit-content;
  word-wrap: break-word;
}
