.poll-container {
  @include feed-item;
}

.poll-title {
  width: 100%;
  font-weight: bold;
}

.poll-description {
  width: 100%;
}

.poll-voting-container {
  display: grid;
  margin-top: 10px;
  margin-bottom: 8px;
  grid-gap: 10px;
}

.poll-voting-choice-messege {
  color: $grayedOutFontColor;
  font-size: 90%;
  font-weight: 600;
}

.poll-error-messege {
  color: $grayedOutFontColor;
  font-size: 90%;
  font-weight: 600;
}
