.login-page-container {
  @include flex-column;
  @include center;
  height: 100vh;
  gap: 20px;
}

.login-form-container {
  @include flex-column;
  height: 700px;
  width: 500px;
  border-radius: 10px;
  background-color: $mainBgColor2;
  opacity: 0.9;
  justify-content: space-evenly;
  align-items: center;
}

.login-form {
  @include center;
  @include flex-column;
  gap: 20px;
}

.login-form-title {
  font-size: 160%;
}

.login-form-forgot-info {
  @include center;
  display: grid;
  row-gap: 6px;
}
