.login-page-container {
  @include flex-column;
  @include center;
  height: 100vh;
  gap: 20px;
}

.login-form-error-message {
  display: flex;
}

.login-form-container {
  display: grid;
  grid-template-rows: 180px 0.8fr;
  height: 700px;
  width: 500px;
  border-radius: 10px;
  background-color: $mainBgColor2;
  opacity: 0.9;
  justify-items: center;
}

.login-form {
  @include flex-column;
  justify-content: start;
  align-items: center;
  height: 100%;
  gap: 14px;
}

.login-form-input-fields {
  @include flex-column;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.login-form-title {
  display: flex;
  align-items: end;
  font-family: $secondaryFont;
  font-size: 200%;
  font-weight: bold;
  margin-bottom: 6%;
}

.login-form-swap-mode {
  @include center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 6px;
  align-content: center;
}

.login-form {
  input {
    color: $mainFontColor;
    background-color: $mainBgColor0;
    font-size: 90%;
    width: 300px;
    height: 28px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 10px;
    &:focus {
      outline: 1px solid rgba(91, 90, 90, 0.8);
    }
  }

  #reset-account-link {
    margin-top: 14px;
  }
}

.show-password-container {
  display: flex;
  width: fit-content;
  height: fit-content;
  transform: scale(0.8);
}

.show-password-container #show-password-label {
  margin-left: 12px;
}

.show-password-container #show-password-checkbox {
  visibility: hidden;
  display: none;
}

.show-password-container .toggle {
  position: relative;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}

.show-password-container .toggle:before {
  content: "";
  position: relative;
  top: 1px;
  left: 1px;
  width: 40px;
  height: 22px;
  display: block;
  background: #c8ccd4;
  border-radius: 12px;
  transition: background 0.2s ease;
}

.show-password-container .toggle span {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  display: block;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(154, 153, 153, 0.75);
  transition: all 0.2s ease;
}

.show-password-container .toggle span svg {
  margin: 7px;
  fill: none;
}

.show-password-container .toggle span svg path {
  stroke: #c8ccd4;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 24;
  stroke-dashoffset: 0;
  transition: all 0.5s linear;
}

.show-password-container input[type="checkbox"]:checked + .toggle:before {
  background: $mainBgColor0;
}

.show-password-container input[type="checkbox"]:checked + .toggle span {
  transform: translateX(18px);
}

.show-password-container input[type="checkbox"]:checked + .toggle span path {
  stroke: $mainBgColor0;
  stroke-dasharray: 25;
  stroke-dashoffset: 25;
}
